.custom-nav-menu ul.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 0;
}

/* Layout */
.custom-nav-menu.layout-row ul.menu {
    flex-direction: row;
}
.custom-nav-menu.layout-column ul.menu {
    flex-direction: column;
}

/* Alignment */
.custom-nav-menu.align-left ul.menu {
    justify-content: flex-start;
}

.custom-nav-menu.align-right ul.menu {
    justify-content: flex-end;
}

/* Hamburger */
.acewx-hf-menu-toggle {
    display: none;
    background: none;
    border: 0;
    cursor: pointer;
}
.acewx-hf-menu-toggle span {
    display: block;
    width: 26px;
    height: 3px;
    background: #000;
    margin: 5px 0;
}
ul#menu-header ul.sub-menu {
    display: none;
}
ul#menu-header li:hover > .sub-menu {
    display: block;
}
ul.sub-menu li a {
    /* color: #fff !important; */
}
ul.sub-menu li {
    list-style: none;
    margin-top: 8px;
     /* border-bottom: 1px solid; */
}

ul.sub-menu {
    padding: 0 !important;
    margin: 0 !important;
}

#menu-header > li > ul.sub-menu {
    /* background: #000; */
    position: absolute;
    z-index: 9999;
    width: 40%;
    padding: 7px !important;
}
.custom-nav-menu .acewx-menu-item-icon {
    margin-right: 8px;
    font-size: 8px;
    vertical-align: middle;
    width: 25px;
}
.acewx-menu-item-icon {
    display: inline-flex;
    align-items: center;
    margin: 0 6px;
}
.custom-nav-menu.icon-right ul.menu > li > a {
    justify-content: space-between;
}

nav.custom-nav-menu.align-right.layout-.icon-right ul.menu .sub-menu  li > a{
    display: flex;
    justify-content: space-between;
}

mobile-sidebar.custom-nav-menu.align-right.layout-.icon-right {
    display: none;
}
 .mobile-sidebar .sidebar.menu-wrapper{
    display: none;
 }
ul.menu li a {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
/* Mobile */
@media (max-width: 768px) {
   
button.acewx-hf-menu-toggle {
    display: block;
}
ul.menu > li > a {
 display: flex;
}
/* .menu-wrapper {
    display: none;
} */
 .menu-wrapper.humburger {
    display: none;
}
#custom-nav-menu-sidebar ul.menu > li > .sub-menu {
    display: none;
}
div#custom-nav-menu-sidebar ul.menu li {
    list-style: none;
}
div#custom-nav-menu-sidebar ul.menu li > a {
    display: flex;
    align-items: center;
}
ul.sub-menu {
    display: none;
}
}
/* Sidebar base */
#custom-nav-menu-sidebar {
    position: fixed;
    top: 0;
    right: -300px; /* hidden initially */
    width: 300px;
    height: 100%;
    background: #111;
    color: #fff;
    z-index: 9999;
    padding: 20px;
    transition: right 0.3s ease-in-out;
    overflow-y: auto;
}

/* When active */
#custom-nav-menu-sidebar.active {
    right: 0;
}

/* Sidebar links */
#custom-nav-menu-sidebar a {
    display: block;
    color: #fff;
    padding: 10px 0;
    text-decoration: none;
}

#custom-nav-menu-sidebar a:hover {
    color: #f0c040;
}

/* Close button */
.sidebar-close-menu-sidebar {
    font-size: 20px;
    display: block;
    margin-bottom: 20px;
    cursor: pointer;
}

/* Mobile only */
@media (min-width: 768px) {
    #custom-nav-menu-sidebar {
        display: none;
    }
    
}

